<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extension Manager</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="container">
        <!-- Title screen -->
        <div class="center-align">
            <br>
            <br>
            <br>
            <br>
            <img src="cart.png" width="128"></img>
            <h2>Inventory App</h2>
            <br>
            <br>
            <% if (isLoggedIn) { %>
                <div class="row">
                    <div class="col s5"></div>
                    <div class="col s2"><a href="/profile"><i class="material-icons left">person</i>Hello, <%=user.name%></a></div>
                </div>
                <div class="row">
                    <a class="btn waves-effect waves-light purple btn-large" href="/app/" style="font-size: 16px">
                        Open inventory <i class="material-icons right">arrow_forward</i>
                    </a>
                </div>
                <br>
                <a href="/logout" class="btn waves-effect waves-light red">Logout</a>
            <% } else { %>
                <a href="/login" class="btn waves-effect waves-light blue">Login</a>
            <% } %>
            <br>
            <br>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>